


<h1>Говно с дымом НИКОЛАЙ</h1>
<p>Сбежал из зоопарка медведь. Дали по радио объявление, мол нужен опытный охотник-зверолов, и кучу денег пообещали.</p>

    <p>Приходит мужик с папиросиной в зубах, в кирзе, в заношенной фуфайке, с собакой, веревкой и ружьем.</p>
   <p> — Я, - говорит, - поймаю медведя! Только мне помощник нужен.</p>
    
   <p>Выделили ему сержанта. Охотник говорит:</p>
    <p> — Слухай сюды! Щас мы медведя на дерево загоним. Я за ним полезу и начну ветку трясти. Как медведь свалится, подбежит моя собака и вцепится ему в яйца. Медведь растеряется, а ты ему лапы веревкой свяжешь. И усе!</p>
    <p> — А ружье тогда зачем?</p>
    <p>— Дык, если я первый упаду - собаку пристрелишь!</p>

    <p>Сбежал из зоопарка медведь. Дали по радио объявление, мол нужен опытный охотник-зверолов, и кучу денег пообещали.</p>

    <p>Приходит мужик с папиросиной в зубах, в кирзе, в заношенной фуфайке, с собакой, веревкой и ружьем.</p>
   <p> — Я, - говорит, - поймаю медведя! Только мне помощник нужен.</p>
    
   <p>Выделили ему сержанта. Охотник говорит:</p>
    <p> — Слухай сюды! Щас мы медведя на дерево загоним. Я за ним полезу и начну ветку трясти. Как медведь свалится, подбежит моя собака и вцепится ему в яйца. Медведь растеряется, а ты ему лапы веревкой свяжешь. И усе!</p>
    <p> — А ружье тогда зачем?</p>
    <p>— Дык, если я первый упаду - собаку пристрелишь!</p>
    <p>Сбежал из зоопарка медведь. Дали по радио объявление, мол нужен опытный охотник-зверолов, и кучу денег пообещали.</p>

    <p>Приходит мужик с папиросиной в зубах, в кирзе, в заношенной фуфайке, с собакой, веревкой и ружьем.</p>
   <p> — Я, - говорит, - поймаю медведя! Только мне помощник нужен.</p>
    
   <p>Выделили ему сержанта. Охотник говорит:</p>
    <p> — Слухай сюды! Щас мы медведя на дерево загоним. Я за ним полезу и начну ветку трясти. Как медведь свалится, подбежит моя собака и вцепится ему в яйца. Медведь растеряется, а ты ему лапы веревкой свяжешь. И усе!</p>
    <p> — А ружье тогда зачем?</p>
    <p>— Дык, если я первый упаду - собаку пристрелишь!</p>
    <p>Сбежал из зоопарка медведь. Дали по радио объявление, мол нужен опытный охотник-зверолов, и кучу денег пообещали.</p>

    <p>Приходит мужик с папиросиной в зубах, в кирзе, в заношенной фуфайке, с собакой, веревкой и ружьем.</p>
   <p> — Я, - говорит, - поймаю медведя! Только мне помощник нужен.</p>
    
   <p>Выделили ему сержанта. Охотник говорит:</p>
    <p> — Слухай сюды! Щас мы медведя на дерево загоним. Я за ним полезу и начну ветку трясти. Как медведь свалится, подбежит моя собака и вцепится ему в яйца. Медведь растеряется, а ты ему лапы веревкой свяжешь. И усе!</p>
    <p> — А ружье тогда зачем?</p>
    <p>— Дык, если я первый упаду - собаку пристрелишь!</p>
    <p>Сбежал из зоопарка медведь. Дали по радио объявление, мол нужен опытный охотник-зверолов, и кучу денег пообещали.</p>

    <p>Приходит мужик с папиросиной в зубах, в кирзе, в заношенной фуфайке, с собакой, веревкой и ружьем.</p>
   <p> — Я, - говорит, - поймаю медведя! Только мне помощник нужен.</p>
    
   <p>Выделили ему сержанта. Охотник говорит:</p>
    <p> — Слухай сюды! Щас мы медведя на дерево загоним. Я за ним полезу и начну ветку трясти. Как медведь свалится, подбежит моя собака и вцепится ему в яйца. Медведь растеряется, а ты ему лапы веревкой свяжешь. И усе!</p>
    <p> — А ружье тогда зачем?</p>
    <p>— Дык, если я первый упаду - собаку пристрелишь!</p>
    <p>Сбежал из зоопарка медведь. Дали по радио объявление, мол нужен опытный охотник-зверолов, и кучу денег пообещали.</p>

    <p>Приходит мужик с папиросиной в зубах, в кирзе, в заношенной фуфайке, с собакой, веревкой и ружьем.</p>
   <p> — Я, - говорит, - поймаю медведя! Только мне помощник нужен.</p>
    
   <p>Выделили ему сержанта. Охотник говорит:</p>
    <p> — Слухай сюды! Щас мы медведя на дерево загоним. Я за ним полезу и начну ветку трясти. Как медведь свалится, подбежит моя собака и вцепится ему в яйца. Медведь растеряется, а ты ему лапы веревкой свяжешь. И усе!</p>
    <p> — А ружье тогда зачем?</p>
    <p>— Дык, если я первый упаду - собаку пристрелишь!</p>